.header{
  height: 10vh;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #EEE;

  .logo{
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
  }

  nav{
    a{
      color: black;
      display: flex;
      align-items: center;

      svg{
        margin-left: 5px;
      }

      &:hover{
        box-shadow: 0 1px 0 0 #000;
      }
    }
  }
}