.input_form{
  width: 300px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;

  input, textarea, select{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCC;

    &:focus{
      outline: 0;
    }
  }
}

.btn_form{
  margin: 15px 0;
  display: flex;
  justify-content: end;
}