.list_item{
    display: flex;
    margin: 10px 0;
    .inner{
        max-height: 90px;
        min-width: 90px;
        max-width: 90px;
        overflow: hidden;
        border-radius: 50%;
    
        img{
            width: 100%;
        }
    }

    p{
        margin-left: 10px;
    }
}